//
// Variables
//
// @package     WPDTRT_Anchorlinks
// @version 	0.0.1
// @since       0.7.6
//

// -------------------------------------------------------------------
// Breakpoints for include-media
// see: https://gist.github.com/dotherightthing/06f33bf784279aa24072e0b6873c968c
// usage: @include media()
// -------------------------------------------------------------------

@import 'node_modules/include-media/dist/include-media';

$breakpoints: (
    phone: 414px,
    tablet: 768px,
    laptop: 1366px,
    desktop: 2000px
);

// -------------------------------------------------------------------
// CSS Variables
// -------------------------------------------------------------------

:root {
    --wpdtrt-anchorlinks-color-link: hsla(0, 0%, 33%, 1);
    --wpdtrt-anchorlinks-color-link-active: hsla(0, 0%, 0%, 1);
    --wpdtrt-anchorlinks-color-border-link: hsla(0, 0%, 80%, 1);
    --wpdtrt-anchorlinks-color-border-link-active: hsla(0, 0%, 33%, 1);
    --wpdtrt-anchorlinks-color-border-divider: hsla(0, 0%, 80%, 1);
    --wpdtrt-anchorlinks-color-border-scroll-progress: hsla(0, 0%, 0%, 1);
    --wpdtrt-anchorlinks-color-link-hover: hsla(0, 0%, 0%, 1);
    --wpdtrt-anchorlinks-font-weight-active: bold;
    --wpdtrt-anchorlinks-line-height-link: 1.4;
    --wpdtrt-anchorlinks-padding-link: .3em 0;
    --wpdtrt-anchorlinks-padding-title: 0 0 1.5em;
    --wpdtrt-anchorlinks-margin-link: 0 0 .125em;
    --wpdtrt-anchorlinks-margin-title: .3em 0 3em;
}
