//
// Styles for the public front-end
//
// Jump links + stickyNavbar.js
// Multiple injected wrappers ensure that
// .mwm-aal-container stays in the same horz location when sticky
// Note: additional styles are currently located in _wpdtrt-dbth.scss
//
// @package WPDTRT_Anchorlinks
// @version 0.0.1
// @since 0.7.0
//

@import 'vendor/dotherightthing/wpdtrt-plugin-boilerplate/scss/variables';
@import 'vendor/dotherightthing/wpdtrt-plugin-boilerplate/scss/extends';
@import 'variables';
@import 'extends';

// -------------------------------------------------------------------
// Styles
// -------------------------------------------------------------------

.page-summary {
    position: relative; // AP
}

.wpdtrt-anchorlinks {
    font-size: .75em;
    margin-bottom: 4em;

    .sticky & {
        position: relative;
        top: auto;
        right: auto;
    }

    // > .mwm-aal-item {
    //     display: none;
    // }

    &__list,
    &__list-item {
        list-style: none;
        padding-left: 0;
        margin-left: 0;
    }

    &__list-link {
        display: block;
        color: $wpdtrt-anchorlinks-link-text-color;
        line-height: 1.4;
        text-decoration: none;
        padding: .3em 0;
        box-shadow: 0 0 0 0 currentColor;
        margin-bottom: .125em;

        &:hover,
        &:focus {
            text-decoration: underline;
        }

        &.active {
            color: $wpdtrt-anchorlinks-link-text-color--active;
            font-weight: bold;
            border-color: $wpdtrt-anchorlinks-link-border-color--active;
        }
    }

    &__scroll-progress {
        position: absolute;
        top: 100%;
        left: 0;
        width: 0;
    }

    &__title {
        position: relative;
        padding-bottom: 1.5em;
        border-bottom: 1px solid $wpdtrt-anchorlinks-title-border-color;
        margin-top: .3em;
        margin-bottom: 3em; // align with top of gallery viewer (assumes there is a gallery viewer..
    }
}
