//
// Styles for the public front-end
//
// @package WPDTRT_Anchorlinks
// @version 0.0.1
// @since 0.7.0
//

// -------------------------------------------------------------------
// Variables
// -------------------------------------------------------------------

@import '../node_modules/wpdtrt-scss/scss/variables/scss';
@import 'variables/scss';

// -------------------------------------------------------------------
// Mixins
// -------------------------------------------------------------------

@import '../node_modules/wpdtrt-scss/scss/mixins';

// -------------------------------------------------------------------
// Extends
// -------------------------------------------------------------------

@import '../node_modules/wpdtrt-scss/scss/extends';

// -------------------------------------------------------------------
// Styles
// .wpdtrt-anchorlinks--sticky is applied to .wpdtrt-anchorlinks
// -------------------------------------------------------------------

@import '../node_modules/wpdtrt-scss/scss/_frontend';

.wpdtrt-anchorlinks {
    $block: &;

    &__additions {
        padding: var(--wpdtrt-anchorlinks-padding-additions);
    }

    &__anchor-link {
        margin: var(--wpdtrt-anchorlinks-margin-anchor-link);
    }

    &__list {
        margin: var(--wpdtrt-anchorlinks-margin-list);
    }

    &__list,
    &__list-item {
        list-style: none;
        padding-left: 0;
        margin-left: 0;
    }

    &__list-link {
        display: block;
        color: var(--wpdtrt-anchorlinks-color-link);
        line-height: var(--wpdtrt-anchorlinks-height-link);
        text-decoration: none;
        padding: var(--wpdtrt-anchorlinks-padding-link);
        margin: var(--wpdtrt-anchorlinks-margin-link);

        &:hover,
        &:focus {
            color: var(--wpdtrt-anchorlinks-color-link-hover);

            #{$block}__list-link-liner {
                border-bottom: 1px solid var(--wpdtrt-anchorlinks-color-link-border-hover);
            }

            #{$block}__list-link-icon {
                color: var(--wpdtrt-anchorlinks-color-link-icon-hover);
            }
        }
    }

    &__list-link-liner {
        padding: var(--wpdtrt-anchorlinks-padding-link-liner);
        border-bottom: 1px dotted var(--wpdtrt-anchorlinks-color-link-border);
    }

    &__list-link-icon {
        color: var(--wpdtrt-anchorlinks-color-link-icon);
        font-weight: normal;

        &::before { // match .icon
            content: '#';
            margin-left: 6px;
        }
    }

    &__list-link-active {
        color: var(--wpdtrt-anchorlinks-color-link-active);
        font-weight: var(--wpdtrt-anchorlinks-font-weight-active);
    }

    &__scroll-progress {
        background-color: var(--wpdtrt-anchorlinks-color-progress-bg);
    }

    &__scroll-progress-bar {
        width: 0;
        border-top: var(--wpdtrt-anchorlinks-height-progress-bar) solid var(--wpdtrt-anchorlinks-color-progress-bar);
    }

    &__title {
        min-height: var(--wpdtrt-anchorlinks-height-title);
        font-family: inherit;
        font-size: inherit;
        line-height: normal;
        margin: var(--wpdtrt-anchorlinks-margin-title); // align with top of expected adjacent gallery viewer

        #{$block}__list-link-liner {
            border-bottom: 0; // as adjacent to progress indicator underline
        }
    }

    &__title-sticky {
        font-size: .8em;
    }

    @include media('>=laptop') {
        position: sticky;
        top: var(--wpdtrt-anchorlinks-position-top);
        width: var(--wpdtrt-anchorlinks-width-laptop-and-up);
        height: 0; // suppress space to the left of the element when it pins, in Safari
        margin: var(--wpdtrt-anchorlinks-margin);

        &--sticky {
            margin: var(--wpdtrt-anchorlinks-margin-sticky);
        }
    }

    @media print {
        display: none !important; /* stylelint-disable-line declaration-no-important */
    }
}
