//
// Styles for the public front-end
//
// @package WPDTRT_Anchorlinks
// @version 0.0.1
// @since 0.7.0
//

@import 'vendor/dotherightthing/wpdtrt-plugin-boilerplate/scss/variables';
@import 'vendor/dotherightthing/wpdtrt-plugin-boilerplate/scss/extends';
@import 'variables';
@import 'extends';

// -------------------------------------------------------------------
// Styles
// .wpdtrt-anchorlinks--sticky is applied to .wpdtrt-anchorlinks
// -------------------------------------------------------------------

.wpdtrt-anchorlinks {
    $block: &;

    &__additions {
        padding: var(--wpdtrt-anchorlinks-padding-additions);
    }

    &__anchor-link {
        margin-left: var(--wpdtrt-anchorlinks-margin-anchor-link);
    }

    &__list {
        margin: var(--wpdtrt-anchorlinks-margin-list);
    }

    &__list,
    &__list-item {
        list-style: none;
        padding-left: 0;
        margin-left: 0;
    }

    &__list-link {
        display: block;
        color: var(--wpdtrt-anchorlinks-color-link);
        line-height: var(--wpdtrt-anchorlinks-height-link);
        text-decoration: none;
        padding: var(--wpdtrt-anchorlinks-padding-link);
        margin-bottom: var(--wpdtrt-anchorlinks-margin-link);

        &:hover,
        &:focus {
            color: var(--wpdtrt-anchorlinks-color-link-hover);
            text-decoration: underline;
        }
    }

    &__list-link-active {
        color: var(--wpdtrt-anchorlinks-color-link-active);
        font-weight: var(--wpdtrt-anchorlinks-font-weight-active);
    }

    &__scroll-progress {
        background-color: var(--wpdtrt-anchorlinks-color-progress-bg);
    }

    &__scroll-progress-bar {
        width: 0;
        border-top: var(--wpdtrt-anchorlinks-height-progress-bar) solid var(--wpdtrt-anchorlinks-color-progress-bar);
    }

    &__title {
        font-family: inherit;
        font-size: inherit;
        margin: var(--wpdtrt-anchorlinks-margin-title); // align with top of gallery viewer (assumes there is a gallery viewer..
    }

    &__title-sticky {
        display: none;

        #{$block}--sticky & {
            display: block;
        }
    }

    &__title-unsticky {
        display: block;

        #{$block}--sticky & {
            display: none;
        }
    }

    @include media('>laptop') {
        position: sticky;
        top: var(--wpdtrt-anchorlinks-position-top);
        width: var(--wpdtrt-anchorlinks-width-laptop-and-up);
        height: 0; // suppress space to the left of the element when it pins, in Safari
        margin: var(--wpdtrt-anchorlinks-margin);
    }
}
