//
// File: scss/variables/_css.scss
//
// Since:
//   0.9.x - DTRT WordPress Plugin Boilerplate Generator
//
// Colours are specified in hsla values:
// - Hue: 0 - 360 on a colour wheel (e.g. http://hslpicker.com/)
// - Saturation: 0 (grayscale) - 100 (full colour)
// - Lightness: 0% (black), 50% (average), 100% (completely light)
// - Alpha
//

:root {
    --wpdtrt-anchorlinks-color-divider: hsla(0, 0%, 80%, 1);
    --wpdtrt-anchorlinks-color-link: hsla(0, 0%, 33%, 1);
    --wpdtrt-anchorlinks-color-link-active: hsla(0, 0%, 0%, 1);
    --wpdtrt-anchorlinks-color-link-hover: hsla(0, 0%, 0%, 1);
    --wpdtrt-anchorlinks-color-progress-bar: hsla(0, 0%, 0%, 1);
    --wpdtrt-anchorlinks-color-progress-bg: hsla(0, 0%, 80%, 1);
    --wpdtrt-anchorlinks-font-weight-active: bold;
    --wpdtrt-anchorlinks-height-link: 28px;
    --wpdtrt-anchorlinks-height-progress-bar: 1px;
    --wpdtrt-anchorlinks-height-title: 62px;
    --wpdtrt-anchorlinks-padding-additions: 40px 0;
    --wpdtrt-anchorlinks-padding-link: .3em 0;
    --wpdtrt-anchorlinks-margin: 0 0 0 auto;
    --wpdtrt-anchorlinks-margin-sticky: 0 0 0 auto;
    --wpdtrt-anchorlinks-margin-anchor-link: 0 0 0 .25em;
    --wpdtrt-anchorlinks-margin-link: 0 0 .125em;
    --wpdtrt-anchorlinks-margin-list: 40px 0;
    --wpdtrt-anchorlinks-margin-title: 0 0 8px;
    --wpdtrt-anchorlinks-position-top: 0;
    --wpdtrt-anchorlinks-width-laptop-and-up: 25%;
}
